
body.places-new {
  background-image: url(https://images.unsplash.com/photo-1528698827591-e19ccd7bc23d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80);
}

.form-inputs {
  color: #fff;
  margin: 0 auto;
  max-width: 550px;
  margin-top: 5vh;
  position: relative;
  left: -280px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.5);
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #ff9f1c;
  }

.form-actions {
  color: #ffffff;
  border: none;
  width: 470px;
  height: 40px;
  outline: none;
  font-size: 15px;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #ff9f1c;
  border-radius: 5px;
  text-align: center
}
.btn {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
