// Specific CSS for your home-page
.home-cards {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #DEF7F6
}

.home-banner {
  margin-top: 48px;
  margin-bottom: 48px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.promotion {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.container-home {
  display: flex;
  justify-items: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}
