.container2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    width: 100%;
}

.tile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tile:nth-child(1){
    grid-column: span 4;
    grid-row: span 2;
}

.tile:nth-child(2),
.tile:nth-child(3){
    grid-column: span 2;
}

@media screen and (max-width: 650px){
    .container{
        display: block;
    }
    .tile{
        margin-bottom: 1rem;
    }
}

.info {
  margin-top: 5vh;
  font-size: 18px;
  flex-grow: 0.6;
}

.list-group {
  margin-top: 10vh;
}

.list-group-item {
  margin-top: 1vh;
}

.actions {
  margin: 5vh;
}

.btn-show {
  border: none;
  width: 100px;
  height: auto;
  outline: none;
  font-size: 15px;
  background-color: rgba(0,0,0,0);
  border: 1px solid #ff9f1c;
  border-radius: 5px;
}

.btn.btn-show {
  color: #222222;
  width: auto;
}

.btn.btn-show:hover {
  background-color: #ff9f1c;
  border: none;
  transform: scale(1.1);
  color: white;
}

ul#menu li {
  display: inline-block;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name h2 {
  color: rgb(21, 21, 21);
  font-size: 28px;
  margin-right: 5vh;
}

.pricecontainer {
  margin-top: 5vh;
}

.alert alert-warning {
  font-family: "Work Sans", "Helvetica", "sans-serif";

}











