.btn-gradient {
  color: blue;
  padding: 8px 50px;
  border-radius: 50px;
  font-weight: bold;
  background: linear-gradient(#FF9F1C, #FFC170);
  transition: background 0.3s ease;
  border: 1px solid #FF9F1C;
  text-align: center;
  display: block;
  width: 300px;
  margin-top: 32px;
}

.btn-gradient:hover {
  background: linear-gradient(#FF9F1C, #FF9F1C);
  color: white;
}
