//  Cards on Home Page

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 400px;
  height: 270px;
  margin: 0 8px;
  border-radius: 5px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// cards on Index

.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 800px;
  margin-right: 16px;
  margin-bottom: 16px;
  transition: all .2s ease-in-out;
  position: relative;

}

.card-product img {
  height: 180px;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #222222;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #717171;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-link {
  text-decoration: none;
}

.card-product:hover {
  transform: scale(1.03);
}

.far.fa-trash-alt{
  position: absolute;
  top: 16px;
  right: 16px;
}

.far.fa-edit{
  position: absolute;
  top: 16px;
  right: 40px;
}

.card-price {
  color: #222222;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-family: nunito;
}

.card-size {
  color: #222222;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    font-family: nunito;
}

.pasflex {
  width: 800px;
}

.unavailable-place {
transform: scale(0.95);
}
.unavailable-place h2 {
  color: rgb(211,211,211);
}

.unavailable-place .card-price  {
  color: rgb(211,211,211);
}

.unavailable-place .card-size {
 color: rgb(211,211,211);
}

.unavailable-place .card-product img {
filter: grayscale(1);
}

.unavailable-place p {
  color: rgb(211,211,211);
}
