.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.center-item {
  align-items: baseline;
}

#navbarDropdown {
  padding-left: 8px;
  cursor: pointer;
}

.dropdown-item {
  margin-bottom: 0;
}
